@mixin landingLogo {
    .landing-logo p {
        width: 5px;
        font-size: 13px;
        padding-left: 110px;
        margin-top: -30px;
        font-family: 'Fresca', sans-serif;
        font-weight: 600;
    }

    .landing-logo span{
        padding-left: 1.5px;
        font-size: 5.5px;
        display: block;
    }
    
}

@mixin imageLogo {
    .landing-logo img{
        width: 25px;
        height: 25px;
        padding-left: 75px;
        padding-top: 15px;
    }

    .landing-logo p{
        width: 50px;
    }

    .span{
        width: 30px;
        height: 15px;
    }
}

.header-wrap {
    background: $headerBackground;
    background-size: 1000px;
    border-radius: 0 0 53% 0;
    color: $fontColor;
    width: 820px;
    height: 385px;
    @include landingLogo; 
    @include imageLogo;  
}

p.header_heading{    
    width: 330px;
    height: 47px;
    font-size: 38px;
    font-weight: map-get($font-weights, "bold");
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 75px;
}

p.header_text{
    color: $pHeaderText;
    font-size: 13px;
    width: 420px;
    padding-top: 50px;
    padding-left: 75px;
}    

button{
    background-color: $colorButton;
    padding-left: 75px;
    position: relative;
    size: 20px;
}

main{
    width: 820px;
    background-color: $colorCardWrap;
}

header{
    width: 820px;
    background-color: $colorCardWrap;
}

.section_text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $sectionColor;
    margin-bottom: 3px;
    margin-block-start: 0px;
}

.section_card{
    .section_card_img{
        margin-left: 30px;
        width: 200px;
        height: 123px;
    }
    .section_card_heading{
        margin-left: 70px;
        margin-top: 0px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        border: 4px;
    }
    .section_card_text{
        font-size: 9px;
        text-align: center;
        width: 200px;
        padding-left: 30px;
    }
}










// Write your styles here