$headerBackground: url('../img/m-h-day.jpg') no-repeat;
$fontColor: black;
$pHeaderText: rgba(35, 34, 34, 0.8);
$colorButton: rgb(103, 160, 56);
$colorCardWrap: rgb(255, 255, 255);
$sectionColor: black;
$font-weights: ("regular": 400, "medium": 500, "bold": 800);