$headerBackground: url('../img/m-h-night.jpg') no-repeat;
$fontColor: white;
$pHeaderText: rgb(255, 255, 255);
$colorButton: rgb(201, 183, 50);
$colorCardWrap: #24222d;
$sectionColor: white;
$font-weights: ("regular": 400, "medium": 500, "bold": 800);